<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">GITHUB BINOCULARS <span><img class="octocat" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="" srcset=""></span> </h1>
      <p class="lead">Welcome to GitHub Binoculars. <br> To start searching for users and repositories click the button
        below.</p>
      <button class="begin-btn btn btn-dark">Click to Begin</button>
    </div>
  </div>
</div>
