<div class="container">
  <div class="row">
    <div class="form-group text-center col-md-12">
        <img class="binoculars" src="https://icon-library.com/images/binoculars-vector-icon/binoculars-vector-icon-6.jpg" alt="" srcset="">
      <form>
        <div>
          <input class="search-space form-control" placeholder="GitHub Username" autocompletetype="text">
          <button class="btn btn-dark search-btn" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
